#popover-mouse-over {
    display: inline-block;

    .img {
        width: 35px;
        height: 35px;
        margin: 15px 30px 4px 30px;
    }

    .img-with-opacity {
        width: 35px;
        height: 35px;
        margin: 15px 30px 4px 30px;
        opacity: 0.3;
    }
}

.MuiPopover-paper {border-radius: 0;}

#box-popover {
    width: 180px;
    text-align: center;

    .box-saving {
        width: 100%;
        display: inline-block;
        margin: 10px 0px 0px 0px;

        .no-margin {
            margin: 0 !important;
        }
    }

    .box-no-potential {
        display: inline-block;
    }
}